@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{box-sizing: border-box; padding:0; margin: 0; word-break: keep-all;} 
html{font-size: 16px; color: #333; background-color: #EEE9FF;
    // scrollbar-width: none; /* Firefox */
} 
body{ 
    // user-select: none; 
    // -webkit-user-select: none;
    -ms-overflow-style: none; /* IE 10+ */
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto; padding: 0 18px;
    max-width: 480px; min-height: 100vh;
    font-family:'S-CoreDream-4Regular';
    background-color: white;
}
body::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera */}
h1,h2,h3,h4,h5,p,figure{margin: 0; padding: 0;}
ol,ul,li{list-style: none; margin: 0; padding:0;}
button{
    border: 0; margin: 0; padding: 0; background-color: transparent; 
    font-family: "S-CoreDream-4Regular";
    color: #333;
}
img{border: 0; vertical-align: middle; object-fit: cover;}
a{text-decoration: none; color: #333;}
input, textarea{
    border:0;
    font-family: "S-CoreDream-4Regular";
    color: #333;
}
::before,::after{margin:0; padding: 0; box-sizing: border-box;}

// 공통 긴 버튼 컴포넌트
.btnlong{
    background-color: #EEE9FF;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    .btnlong-label{
        font-family: 'S-CoreDream-5Medium';
        font-size: 14px;
        color: #555;
        text-align: center;
    }
    &.active{
        background-color: #C9B6E4;
        // cursor: pointer;
        .btnlong-label{
            color: #fff;
        }
    }
    &.disabled{
        pointer-events: none;
    }
}

// 공통 짧은 버튼 컴포넌트
.btnshort-line{
    width: 135px;
    border: 1px solid #C9B6E4;
    border-radius: 10px;
    padding: 16px 24px;
    cursor: pointer;
    >p{
        font-family: 'S-CoreDream-5Medium';
        font-size: 14px;
        color: #555;
        text-align: center;
    }
}
.btnshort-fill{
    width: 135px;
    background-color: #C9B6E4;
    border-radius: 10px;
    padding: 16px 24px;
    cursor: pointer;
    >p{
        font-family: 'S-CoreDream-5Medium';
        font-size: 14px;
        color: #fff;
        text-align: center;
    }
}

// 내역없을 때 컴포넌트 infoMessage-5개
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    img{
        width: 45px;
    }
    .info-text{
        font-family: 'S-CoreDream-5Medium';
        font-size: 22px;
        text-align: center;
        padding-top: 20px;
        span{
            padding-top: 10px;
            font-family: 'S-CoreDream-3Light';
            display: block;
            font-size: 16px;
            text-align: center;
        }
    }
}
// 상세문의탭 컴포넌트 infoMessage-1개
.info-detailfaq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    img{
        width: 25px;
    }
    .info-text{
        white-space: pre-line;
        font-family: 'S-CoreDream-4Regular';
        font-size: 16px;
        text-align: center;
        padding-top: 20px;
        span{
            padding-top: 10px;
            font-size: 14px;
        }
    }
}

// 팝업버튼1
.custom-popup01{
    width: 300px;
    padding: 20px 29px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 10px;
}
.custom-html-container01{
    padding: 0 !important;
}
.custom-text01{
    font-family: 'S-CoreDream-4Regular';
    font-size: 14px;
    text-align: left;
}
.custom-confirm-button01{
    font-family: 'S-CoreDream-4Regular';
    font-size: 14px;
    width: 55px;
    padding: 7px 14px;
    margin: 0;
    background-color: #BB9EE5;
    color: #fff;
    border-radius: 5px;
    box-shadow: none !important;
}

// 팝업버튼2
.swal2-backdrop-show{
    z-index: 10000;
}
.custom-popup02{
    width: 300px;
    padding: 20px 29px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 10px;
}
.custom-html-container02{
    padding: 0 !important;
}
.custom-text02{
    font-family: 'S-CoreDream-4Regular';
    font-size: 14px;
}
.custom-confirm-button02{
    font-family: 'S-CoreDream-4Regular';
    font-size: 14px;
    width: 55px;
    padding: 7px 14px;
    margin: 0;
    margin-right: 7px;
    background-color: #BB9EE5;
    color: #fff;
    border-radius: 5px;
    box-shadow: none !important;
}
.custom-cencel-button02{
    font-family: 'S-CoreDream-4Regular';
    font-size: 14px;
    width: 55px;
    padding: 7px 14px;
    margin: 0;
    background-color: #fff;
    color: #555;
    border: 1px solid #BB9EE5;
    border-radius: 5px;
    box-shadow: none !important;
}
.swal2-actions{
    display: flex !important;
    justify-content: flex-end !important;
    width: 100%;
}

// 결제와 주문내역페이지에 필요한 상품아이템
.payproductitem{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #999;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
    .productitem-img{
        width: 130px; height: 130px;
        margin-right: 10px;
        flex-shrink: 0;
        >img{
            width: 100%;
            border-radius: 10px;
        }
    }
    .productitem-text{
        >b{ display: block; }
        >span{
            display: block;
            font-size: 14px;
            margin: 7px 0;
        }
        >p{ font-family: 'S-CoreDream-5Medium'; }
    }
}

// 헤더
.header{
    width: 80px; padding: 30px 0;

    &.absolute{
        position: absolute;
        top: 0;
        z-index: 10;
    }
    
    .closeicon{width: 14px; height: 14px; cursor: pointer;}
    .backicon{width: 14px; height: 14px; cursor: pointer;}
    img{width: 100%;}
}

// 카드
.cardlist{
    width: 100%;
    .swiper-slide{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }
    .trip-main-slideitem{
        margin-right: 10px;
    }
}
.carditem{
    height: auto;
    cursor: pointer;
    img{
        width: 100%; height: 100%;
        border-radius: 10px;
    }
    figcaption{
        p{
            margin: 10px 0 7px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;

            word-break: break-word; /* 긴 단어도 줄 바꿈 시도 */
            overflow-wrap: break-word; /* 최신 권장 */
        }
        span{font-family: 'S-CoreDream-5Medium'; font-size: 20px;}
    }
}

// 아코디언 (자주묻는질문, 공지사항)
.accordion-container {
    .accordion-item {
        .accordion-item-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            margin: 20px 0;
            gap: 10px;

            span{
                font-size: 12px;
                &:first-of-type{
                    color: #9257E9;
                    font-family: 'S-CoreDream-5Medium';
                }
                &:last-of-type{
                    color: #999;
                    font-family: 'S-CoreDream-3Light';
                }
            }
            .accordionicon {
                display: flex;
                align-items: center;
                .icon {
                    width: 18px;
                    height: 18px;
                    margin-left:15px;
                }
            }
        }
        hr {
            border: none;
            border-top: 1px solid #EEE9FF;
            margin: 0;
        }
    }

    .accordion-item-content {
        background-color: rgba($color: #EEE9FF, $alpha: 0.6);
        padding: 18px;
        font-size: 14px;
        font-family: 'S-CoreDream-3Light';
        border-radius: 10px;
        margin-top: -4px;
        margin-bottom: 20px;
        white-space: pre-line;
    }
}