@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.css');
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.css');
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.css');
// font-family: 'S-CoreDream-3Light';
// font-family: 'S-CoreDream-4Regular';
// font-family: 'S-CoreDream-5Medium';

*{box-sizing: border-box; padding:0; margin: 0; word-break: keep-all;} 
html{font-size: 16px; color: #333; background-color: #EEE9FF;
    // scrollbar-width: none; /* Firefox */
} 
body{ 
    // user-select: none; 
    // -webkit-user-select: none;
    -ms-overflow-style: none; /* IE 10+ */
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto; padding: 0 38px;
    width: 768px; min-height: 100vh;
    font-family:'S-CoreDream-4Regular';
    background-color: white;
}
// body::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera */}
h1,h2,h3,h4,h5,p,figure{margin: 0; padding: 0;}
ol,ul,li{list-style: none; margin: 0; padding:0;}
button{
    border: 0; margin: 0; padding: 0; background-color: transparent; 
    font-family: "S-CoreDream-4Regular";
    color: #333;
}
img{border: 0; vertical-align: middle; object-fit: cover;}
a{text-decoration: none; color: #333;}
input, textarea{
    border:0;
    font-family: "S-CoreDream-4Regular";
    color: #333;
}
::before,::after{margin:0; padding: 0; box-sizing: border-box;}



@import './res-style.scss';