.productdetail{
    padding-bottom: 135px;
    position: relative;
}

.productdetail-topicon{
    position: fixed;
    right: calc((100vw - 480px) / 2 + 18px); bottom: 105px;
    cursor: pointer;
}

.bottombar-box{position: relative;}
// 하단바
.bottombar-overlay{
    position: fixed;
    width: 100vw; max-width: 480px;
    margin: 0 auto;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 110;
}
.bottombar-collapsed,
.bottombar-expanded{
    position: fixed;
    width: 100vw; max-width: 480px;
    left: calc((100vw - 480px) / 2); bottom: 0;
    padding: 18px;
    background-color: white;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -4px 10px -4px rgba(0, 0, 0, 0.2);
}
.bottombar-collapsed{z-index: 100;}
.bottombar-drag-handle{
    content: '';
    position: absolute;
    top: 12px; left: 50%;
    transform: translateX(-50%);
    width: 45px; height: 4px;
    background-color: #f3f3f3;
}
// expanded
.bottombar-expanded{
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 120;
    padding-top: 18px;
    background-color: white;
    pointer-events: none;

    &.active{
        pointer-events: auto;
        transform: translateY(0);
    }
}
.expanded-content-top, 
.expanded-content-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 2px solid #f9f9f9;
}
.expanded-content-top{
    .select-num{
        width: 30%;
        display: flex;
        align-items: center;
        gap: 16px;
        .select-num-icon{cursor: pointer;}
    }
}
.expanded-content-bottom{
    margin-bottom: 16px;
    p{
        font-size: 12px;
        font-family: 'S-CoreDream-3Light';
        span{display: inline-block; margin-left: 5px;}
    }
    span{font-family: 'S-CoreDream-5Medium';}
}
.bottombar-btnbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .bottombar{
        width: 50%;
        p{font-size: 16px;}
    }
}

// 스낵바
.snackbar-box{
    position: fixed;
    max-width: 444px;
    left: 18px; right: 18px;
    bottom: 105px;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 0.3s ease;

    &.hide{opacity: 0;}

    .snackbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #C9B6E4;
        border-radius: 10px;
        padding: 16px;
        color: white;
        font-size: 14px;
        transition: .5s;

        a{
            text-decoration: underline;
            color: white;
            font-size: 14px;
        }
    }
}


// 탭메뉴 상단 구분선
.productdetail-info-middleline{
    border: none;
    background-color: #f3f3f3;
    height: 5px;
    width: 100vw;
    max-width: 480px;
    margin-left: -18px;
}
.productdetail-info{
    // swiper
    .productSlide{
        width: 100vw; height: auto;
        max-width: 480px; 
        margin-left: -18px;
        position: relative;

        .swiper-pagination{
            position: absolute;
            left: 50%; bottom: 18px;
            transform: translateX(-50%);
            z-index: 100;
            width: auto; height: auto;
            display: flex;
            gap: 3px;
        }
        .swiper-pagination-bullet{
            width: 8px; height: 8px;
            background-color: white;
            border-radius: 50%;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
        }
        .swiper-pagination-bullet-active{
            width: 22px;
            border-radius: 10px;
        }
    }

    hr{background-color: #f3f3f3; height: 1px; border: none;}

    // 상단 요약정보
    .productdetail-info-txt{
        padding: 20px 0 16px;

        .productdetail-info-txt-category{
            font-size: 12px; font-family: 'S-CoreDream-3Light';
        }
        p{
            font-size: 24px; font-family: 'S-CoreDream-5Medium';
            margin: 12px 0 20px;
        }
        .productdetail-info-txt-price{
            font-size: 20px; font-family: 'S-CoreDream-5Medium';
            span{font-size: 24px; color: #C9B6E4;}
        }
    }
    .productdetail-info-delivery{
        padding: 12px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        .productdetail-boxicon{
            width: 15px; height: auto;
            >img{width: 100%; height: 100%; object-fit: contain;}
        }
        span{font-size: 12px; font-family: 'S-CoreDream-3Light';}
    }
}

// 탭
.tabmenu{
    display: flex;
    align-items: center;
    font-size: 16px;
    text-align: center;
    color: #999;
    font-family: 'S-CoreDream-3Light';
    margin-top: 16px;
    margin-left: -18px;
    width: 100vw; max-width: 480px;

    > div{
        width: 50%;
        padding: 16px 0;
        border-bottom: 1px solid #EEE9FF;
        border-radius: 16px 16px 0 0;
        cursor: pointer;
        &.active{
            background-color: #C9B6E4;
            color: white;
            font-family: 'S-CoreDream-5Medium';
            border-bottom: 1px solid #C9B6E4;
        }
    }
}

.productdetail-detail-info{
    margin-top: 50px;
    // margin-left: -18px;
    will-change: transform;
    img{
        // width: 100vw;
        width: 100% !important;
        max-width: 480px !important;
        height: auto !important;
        // aspect-ratio: 3 / 4;
    }
    .detailfaq-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 36px 0 52px;
    }
}





@media (max-width: 480px) {
    .productdetail-topicon{
        right: 18px !important;
    }
    // 하단바
    .bottombar-collapsed,
    .bottombar-expanded{
        width: 100% !important;
        left: 0 !important;
    }
}