.noticepage{padding-bottom: 135px;}
.accordion-item-title-inmy{
    span{
        font-size: 16px !important;
        font-family: 'S-CoreDream-5Medium' !important;
        color: #9257E9 !important;
        margin-right: 5px;
    }
}